In [2]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

train  = pd.read_csv("aug_train.csv")
train.head()

test  = pd.read_csv("aug_test.csv")
test.head()

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_type,last_new_job,training_hours,target
0,0.624,NaN,Has relevent experience,Full time course,Graduate,Other,3,Pvt Ltd,1,134,0
1,0.920,Female,No relevent experience,no_enrollment,Graduate,STEM,5,Early Stage Startup,1,34,1
2,0.767,NaN,Has relevent experience,Full time course,Graduate,STEM,10,Pvt Ltd,2,90,0
3,0.910,Male,No relevent experience,NaN,High School,NaN,10,NaN,never,42,0
4,0.624,Male,Has relevent experience,Part time course,Graduate,STEM,3,Pvt Ltd,1,198,0

In [9]:
#Task1 Data clean, imputation

#1. in experience, replace >20 to 21; <1 to 1, and convert this as a numerical column
train.loc[train["experience"] == ">20", "experience"] = 21
train.loc[train["experience"] == "<1", "experience"] = 1
train.tail()

test.loc[test["experience"] == ">20", "experience"] = 21
test.loc[test["experience"] == "<1", "experience"] = 1

test["experience"] = pd.to_numeric(test["experience"])
train["experience"] = pd.to_numeric(train["experience"])

#train["experience"].describe()
#test["experience"].describe()

#2. in last_new_job, replace >4 to 5; never to 0, and convert this as a numerical column
train.loc[train["last_new_job"] == ">4", "last_new_job"] = 5
train.loc[train["last_new_job"] == "never", "last_new_job"] = 0
train["last_new_job"] = pd.to_numeric(train["last_new_job"])
#train["last_new_job"].describe()

test.loc[test["last_new_job"] == ">4", "last_new_job"] = 5
test.loc[test["last_new_job"] == "never", "last_new_job"] = 0
test["last_new_job"] = pd.to_numeric(test["last_new_job"])
#test["last_new_job"].describe()

#3. If the column is categorical, impute the missing value as its mode. 
# #If the column is numerical, impute the missing value as its median


for column in test:
    if test[column].dtype == "object":       
        test[column] = test[column].fillna(test[column].mode()[0])
    else:
        test[column] = test[column].fillna(test[column].median())

for column in train:
    if train[column].dtype == "object":       
        train[column] = train[column].fillna(train[column].mode()[0])
    else:
        train[column] = train[column].fillna(train[column].median())

Male

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_type,last_new_job,training_hours,target
0,0.624,Male,Has relevent experience,Full time course,Graduate,Other,3,Pvt Ltd,1,134,0
1,0.920,Female,No relevent experience,no_enrollment,Graduate,STEM,5,Early Stage Startup,1,34,1
2,0.767,Male,Has relevent experience,Full time course,Graduate,STEM,10,Pvt Ltd,2,90,0
3,0.910,Male,No relevent experience,no_enrollment,High School,STEM,10,Pvt Ltd,0,42,0
4,0.624,Male,Has relevent experience,Part time course,Graduate,STEM,3,Pvt Ltd,1,198,0
5,0.884,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,Funded Startup,1,180,0
6,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,Pvt Ltd,5,62,0
7,0.691,Male,No relevent experience,Full time course,Graduate,STEM,2,Pvt Ltd,1,310,0
8,0.897,Male,No relevent experience,no_enrollment,Graduate,STEM,2,Pvt Ltd,1,63,0
9,0.939,Male,No relevent experience,no_enrollment,Masters,STEM,8,Pvt Ltd,5,130,1
10,0.887,Male,No relevent experience,no_enrollment,High School,STEM,3,Pvt Ltd,0,78,0
11,0.920,Male,Has relevent experience,Part time course,Graduate,STEM,2,Pvt Ltd,2,4,0
12,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,Pvt Ltd,1,84,0
13,0.896,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,Pvt Ltd,5,34,0
14,0.920,Male,No relevent experience,no_enrollment,Masters,STEM,1,Pvt Ltd,0,19,0
15,0.910,Male,No relevent experience,Full time course,Graduate,STEM,2,Pvt Ltd,1,48,0
16,0.926,Male,Has relevent experience,Part time course,High School,STEM,8,Pvt Ltd,1,102,0
17,0.766,Male,Has relevent experience,Full time course,Graduate,STEM,4,Pvt Ltd,2,92,1
18,0.558,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,Pvt Ltd,1,15,1
19,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,21,Pvt Ltd,5,107,0
20,0.897,Male,No relevent experience,no_enrollment,Masters,STEM,21,Pvt Ltd,5,58,0
21,0.926,Male,No relevent experience,Full time course,Graduate,STEM,11,Pvt Ltd,2,33,1
22,0.910,Male,Has relevent experience,no_enrollment,Masters,STEM,12,Pvt Ltd,5,36,1
23,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,Pvt Ltd,1,184,1
24,0.682,Male,Has relevent experience,no_enrollment,Graduate,STEM,12,Pvt Ltd,2,140,0
25,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,Pvt Ltd,1,90,0
26,0.910,Male,No relevent experience,no_enrollment,Graduate,STEM,2,Pvt Ltd,1,43,1
27,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,Pvt Ltd,5,6,0
28,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,Pvt Ltd,5,16,0
29,0.640,Male,Has relevent experience,no_enrollment,Graduate,STEM,21,Pvt Ltd,0,40,1

In [ ]:
#Task2 Classification
#1. Build a classification model from the training set ( you can use any algorithm)
#2. generate the confusion matrix for the training set and calculate the accuracy, precision, recall, and F1-score
#3. Applying the model in the test set and generating the prediction
#4. generate the confusion matrix from the test set and calculate the accuracy, precision, recall, and F1-score
#5. compare the results between the training and test set